<?xml version="1.0"?>
<model>
  <name>cuboid_40x40x5_cm</name>
  <version>1.0</version>
  <!-- SDF file used by this model -->
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Subham Chhotaray</name>
    <email>subhamchhotaray2006@gmail.com</email>
  </author>
  <description>Simple rectangular cuboid 40x40x5 cm (LxHxB) - mesh and SDF for Ignition Gazebo.</description>
</model>
